Options -Indexes
Options +FollowSymLinks -MultiViews


<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 days"
ExpiresByType image/jpeg "access plus 1 days"
ExpiresByType image/gif "access plus 1 days"
ExpiresByType image/png "access plus 1 days"
ExpiresByType text/css "access plus 1 days"
ExpiresByType application/pdf "access plus 1 days"
ExpiresByType text/x-javascript "access plus 1 days"
ExpiresByType application/x-shockwave-flash "access plus 1 days"
ExpiresByType image/x-icon "access plus 1 days"
ExpiresDefault "access plus 7 days"
</IfModule>


<filesMatch ".(css|jpg|jpeg|png|gif|js|ico)$">
Header set Cache-Control "max-age=2592000, public"
</filesMatch>


RewriteEngine On

RewriteBase /




ErrorDocument 403 /404.html
ErrorDocument 404 /404.html
ErrorDocument 400 /404.html

# Add slash if there is no at the end
RewriteCond %{REQUEST_URI} !(/$|\.) 
RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]


# Remove double slashes in all URLs
RewriteCond %{THE_REQUEST} ^[A-Z]+\ /(([^/\ ]+/)*)/+([^\ ]*)
RewriteRule ^ /%1%3 [L,R=301]


# If the requested filename exists, simply serve it.
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .? - [L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([a-zA-Z0-9-z\-]+)/([^.]+)/([a-zA-Z0-9-z\-]+)/([a-zA-Z0-9-z\-]+)/?$ index.php?Active=$1&ParamOne=$2&ParamTwo=$3&ParamThree=$4 [L]
RewriteRule ^([a-zA-Z0-9-z\-]+)/([^.]+)/([a-zA-Z0-9-z\-]+)/?$ index.php?Active=$1&ParamOne=$2&ParamTwo=$3 [L]
RewriteRule ^([a-zA-Z0-9-z\-]+)/([^.]+)/?$ index.php?Active=$1&ParamOne=$2 [L]
RewriteRule ^([a-zA-Z0-9-z\-]+)/?$ index.php?Active=$1 [L]






